@import-normalize;
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';


.max-height-90 {
  max-height: 90vh;
}

.btn.btn-svg {
  border-color: transparent;
  background: transparent;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  &:active {
    background: transparent;
  }
}
